 .u-section-1 {
  background-image: url("images/aw.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 13px;
}

.u-section-1 .u-layout-cell-1 {
  order: 1;
  min-height: 708px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-text-1 {
  margin: 95px 405px 0 7px;
}

.u-section-1 .u-text-2 {
  font-size: 2.375rem;
  margin: 26px 7px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.75rem;
  margin: 48px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -31px 59px 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.75rem;
  background-image: none;
  margin: 43px auto 0 0;
}

.u-section-1 .u-text-6 {
  margin: 26px 0 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-size: 1rem;
  border-style: none;
  margin: 30px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-1 .u-icon-1 {
  width: 50px;
  height: 50px;
  margin: -50px auto 0 220px;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  width: 50px;
  height: 50px;
  margin: -50px 184px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 38px;
  height: 50px;
  margin: -50px 128px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  order: 0;
  min-height: 708px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  width: 285px;
  height: 345px;
  margin: 88px auto 0 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: -16px;
    margin-bottom: 19px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 842px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 312px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 72px;
    margin-left: 12px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 29px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 14px;
    margin-left: 62px;
  }

  .u-section-1 .u-icon-2 {
    margin-right: auto;
    margin-left: 137px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 179px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 842px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 957px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 50px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 907px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 202px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-right: 59px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 90px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 116px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 907px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1516px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 26px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1361px;
    margin-bottom: 1.67773e+07px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 234px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 29px;
  }

  .u-section-1 .u-icon-2 {
    margin-left: 101px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 114px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 857px;
    margin-bottom: 1.67776e+07px;
  }
}